body{
	margin: 0;
	font-family: 'Comfortaa', cursive;
	color: black;
	
}
/*------------------------GRID----------------------------*/
.container{
	width: 1170px;
	margin: auto auto;
	position: relative;
}
.title{
	margin-top: 100px;
	font-size:23px;
	font-weight: 500;
}

.unit{
	margin-top: 150px;
}

.octopus{
	text-align: right;
	position: relative;
	
}
.content-left{
	width: 43%;
	position: absolute;
}
.content-right {
	position: absolute;
	width: 57%;
	margin-left: 600px;
	margin-top: 0;
	
}

/*-------------------OCTOPUS-------------------------------*/
.octopus_head{
	border-top: 7px solid black;
    width:610px;
    height:610px;
    border-radius:350px ;
    transform: rotate(90deg);
	margin-top: 10px;
	margin-left: -15px;
	position: absolute;
	
}

.eye {
    position: relative;
    float: left;
    border: 3px dashed black;
    background-color: trasnporent;
    padding: 10px;
    border-radius: 50%;
	margin-top: 55px;
    margin-right: 20px;
    margin-left: 160px;
}

.mouth{
	font-size: 80px;
    position: absolute;
    top: 60px;
    left: 400px;
}
.tentacles{
	position: relative;
	margin-left: 50px;
	font-size: 14px;
	
}

.eye::before {
    display: block;
    content: '';
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
	
}
.pstyle{
	position: relative;
	margin-top: 20px;
}

.pstyle1{
	position: relative;
	margin-top: 70px;
}
.title-indent{
	margin-top: 140px;
}

/*-----------OCTOPUS-TENTACLES----------------*/

.reg1{
	width: 200px;
	height: 26px;
	background: grey;
	margin-top: 5px;
	top:20px;
}
.reg_inner{
	width: 120px;
	height: 30px;
	background: #cccccc;
	float: right;
	
}
.reg_inner1{
	width: 120px;
	height: 30px;
	background: #cccccc;
	float: right;
	position: absolute;
	margin-top: 35px;
}

.reg2{
	width: 20px;
	height: 30px;
	background: black;
	float: right;
}

.reg3{
	width: 90px;
	height: 30px;
	background: grey;
	float: right;
	position: absolute;
	margin-top: 70px;
}

.reg8{
	width: 90px;
	height: 30px;
	background: black;
	float: right;
	position: absolute;
	margin-top: 40px;
}

.fst_tent{
    margin-top: 15px;
	position: absolute;
}
.scnd_tent {
	position: absolute;
	margin-top: 85px;
}

.thrd_tent{
	position: absolute;
	margin-top: 162px;
}

.fth_tent{
	position: absolute;
	margin-top: 244px;
}

.fiveth_tent{
	position: absolute;
	margin-top: 327px;
}

.sixth_tent{
	position: absolute;
	margin-top: 409px;
}

.svnth_tent{
	position: absolute;
	margin-top: 495px;
}
.eith_tent{
	position: absolute;
	margin-top: 575px;
}

/*-----------RECTANGLES FOR OCTOPUS TENTACLES----------------*/

.fst_tent_reg_white{
	width: 20px;
	height: 26px;
	background: black;
	float: right;
}
.fst_tent_reg_grey{
	width: 100px;
	height: 26px;
	background: #cccccc;
	float: right;
}
.scnd_tent_reg_white{
	width: 50px;
	height: 26px;
	background: black;
	float: right;
}
.scnd_tent_reg_grey{
	width: 130px;
	height: 26px;
	background: #cccccc;
	float: right;
}
.thrd_tent_reg_white{
	width: 50px;
	height: 26px;
	background: black;
	float: right;
}
.thrd_tent_reg_grey{
	width: 110px;
	height: 26px;
	background: #cccccc;
	float: right;
}
.fth_tent_reg_white{
	width: 80px;
	height: 26px;
	background: black;
	float: right;
}
.fth_tent_reg_grey{
	width: 160px;
	height: 26px;
	background: #cccccc;
	float: right;
}
.fiveth_tent_reg_white{
	width: 95px;
	height: 26px;
	background: black;
	float: right;
}
.fiveth_tent_reg_grey{
	width: 150px;
	height: 26px;
	background: #cccccc;
	float: right;
}
.sixth_tent_reg_white{
	width: 85px;
	height: 26px;
	background: black;
	float: right;
}
.sixth_tent_reg_grey{
	width: 160px;
	height: 26px;
	background: #cccccc;
	float: right;
}
.svnth_tent_reg_white{
	width: 25px;
	height: 26px;
	background: black;
	float: right;
}
.svnth_tent_reg_grey{
	width: 120px;
	height: 26px;
	background: #cccccc;
	float: right;
}
.eith_tent_reg_white{
	width: 50px;
	height: 26px;
	background: black;
	float: right;
}
.eith_tent_reg_grey{
	width: 135px;
	height: 26px;
	background: #cccccc;
	float: right;
}

@media only screen and (max-width : 480px) {
	body{
		background-image: url(http://syromono.info/images/drawn-octopus-purple-octopus-14.jpg);
		font-weight: 700;
	}	
	.container {
		width: 360px;
		margin: auto auto;
		position: relative;
	
	}
	.unit{
		margin: 0;
		margin-top: 30px;
		
	}
	.reg8{
		margin-left: 135px;
	}
	.title-indent {
		margin-top: 80px;
	}
	.reg_inner1{
		margin-left: 122px;	
	}
	.title {
		margin-top: 20px;
		font-weight: 800;
		
	}
	.tentacles {
		text-align: center;
		margin-left: 80px;
		margin-top: 70px;
		font-weight: 900;
	}
	.octopus_head {
		display: none;
	}
	.content-right{
		margin: 0;
		position: relative;
		
	}
	.content-left {
		text-align: center;
		width: auto;
		position: relative;
	}
	
	
}



















